<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="Title" content="전혜린 홈페이지">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전혜린 홈페이지</title>

    
    <link rel="stylesheet" href="../Content/Main.css">
</head>
<body>
    <h1><a href="Main.html">HR HOME</a>
        <div class="title_d">열정만 가득한 나만의 홈페이지</div>
    </h1>
    <header>
        <!-- 가로형 메뉴바 -->
        <nav class="active">
        <ul class="menu1">
                <li><a href="전혜린.html">전혜린</a></li>
                <li><a href="MBTI.html">MBTI</a></li>
                <li><a href="기타.html">기타</a></li>
                <!-- <li><a href=" ">Login</a></li> -->
        </ul>
        </nav>
    </header>
    <div id="wrap">
    <section class="backimg">
        <br/>
        <table>
            <tr>
                <td class="title">HR PlayList<br/><hr></td>
            </tr>
            <tr>
                <td class="title_s">　with. Youtube</td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
            <tr>
                <td class="music">
                    <a href="https://youtu.be/s6xRgWPeQwE" target="_blank">
                    <img src="../Content/images/music1.png" alt="playlist">
                    Remain - Christian Kuria</a>
                </td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
            <tr>
                <td class="music">
                    <a href="https://youtu.be/7pDgPv33DCQ" target="_blank">
                        <img src="../Content/images/music1.png" alt="playlist">
                        Therapist - Mae Muller</a>
                </td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
            <tr>
                <td class="music">
                    <a href="https://youtu.be/T--6HBX2K4g" target="_blank">
                        <img src="../Content/images/music1.png" alt="playlist">
                        Hype Boy - NewJeans</a>
                </td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
            <tr>
                <td class="music">
                    <a href="https://youtu.be/rUFwrIybgbg" target="_blank">
                        <img src="../Content/images/music1.png" alt="playlist">
                        LOVE AGAIN - Daniel Caesar & Brandy</a>
                </td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
            <tr>
                <td class="music">
                    <a href="https://youtu.be/wnNo7DYHKXk" target="_blank">
                        <img src="../Content/images/music1.png" alt="playlist">
                        Autumn Breeze - 거미(Gummy)</a>
                </td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
            <tr>
                <td class="music">
                    <a href="https://youtu.be/CvnwubM-09A" target="_blank">
                        <img src="../Content/images/music1.png" alt="playlist">
                        In Secret - Sezairi</a>
                </td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
            <tr>
                <td><hr></td>
            </tr>
            <tr>
                <td class="title_f">노래 제목을 클릭하시면 해당 Youtube 페이지로 이동합니다</td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
        </table>
        <br/>
    </section>

    <footer>
        <nav>
            <a href="https://blog.naver.com/wjs3673">Blog</a>
            <a href="https://github.com/wjs3673/Portfolio">Github</a>
        </nav>
        <p>
            <span>저자 : 전혜린</span><br/>
            <span>이메일 : hrjeon@Mostisoft.com</span><br/>
            <span>Copyright 2022. hrjeon. All Rights Reserved.</span><br/>
        </p>
    </footer>
    </div>
</body>
</html>