<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="Title" content="전혜린 홈페이지">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전혜린 홈페이지</title>

    
    <link rel="stylesheet" href="../Content/Main.css">
    <link rel="stylesheet" href="../Content/MBTI.css">
</head>
<body>
    <h1><a href="Main.html">HR HOME</a>
        <div class="title_d">열정만 가득한 나만의 홈페이지</div>
    </h1>
    <header>
        <!-- 가로형 메뉴바 -->
        <nav class="active">
            <ul class="menu1">
                <li><a href="전혜린.html">전혜린</a></li>
                <li><a href="MBTI.html">MBTI</a></li>
                <li><a href="기타.html">기타</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrap">
    <section class="backimg">
        <br/>
        <table>
            <tr>
                <td class="title">혜린's MBTI</td>
            </tr>
            <tr>
                <td><img src="../Content/images/entp.jpg" alt="entp" class="entp"></td>
            </tr>
            <tr>
                <td class="title">ENTP</td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
            <tr>
                <td>
                    <div class="scroll">
                    변론가(ENTP)는 두뇌 회전이 빠르고 대담한 성격으로 현재 상황에 이의를 제기하는 데 거리낌이 없습니다.<br/>
                    변론가는 어떤 의견이나 사람에 반대하는 일을 두려워하지 않으며,<br/>
                    논란이 될 만한 주제에 대해 격렬하게 논쟁하는 일을 즐깁니다.<br/>
                    <br/>
                    그렇다고 변론가가 반론을 제기하는 데만 관심이 있거나 악의를 지닌 것은 아닙니다.<br/>
                    사실 변론가는 지식이 풍부하고 호기심이 넘치며 활기찬 유머 감각으로 다른 사람을 즐겁게 할 수 있는 성격입니다.<br/>
                    다만 대부분의 성격과 달리 논쟁에서 즐거움을 찾는 성향이 있을 뿐입니다.<br/>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">ENTP와 궁합을 알아보자</td>
            </tr>
            <tr>
                <td><img src="../Content/images/mbti.jpg" alt="mbti궁합표" class="mbti"></td>
            </tr>
            <tr>
                <td class="title">나는 무엇인지 궁금하다면?</td>
            </tr>
            <tr>
                <td><br/><a href="https://www.16personalities.com/ko" target="_blank">검사하러 가기 ☞</a></td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
        </table>
        <br/>
    </section>
    <footer>
        <nav>
            <a href="https://blog.naver.com/wjs3673">Blog</a>
            <a href="https://github.com/wjs3673/Portfolio">Github</a>
        </nav>
        <p>
            <span>저자 : 전혜린</span><br/>
            <span>이메일 : hrjeon@Mostisoft.com</span><br/>
            <span>Copyright 2022. hrjeon. All Rights Reserved.</span><br/>
        </p>
    </footer>
</div>  
</body>
</html>