<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="Title" content="전혜린 홈페이지">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전혜린 홈페이지</title>

    
    <link rel="stylesheet" href="../Content/Main.css">
    <link rel="stylesheet" href="../Content/기타.css">
</head>
<body>
    <h1><a href="Main.html">HR HOME</a>
        <div class="title_d">열정만 가득한 나만의 홈페이지</div>
    </h1>
    <header>
        <!-- 가로형 메뉴바 -->
        <nav class="active">
            <ul class="menu1">
                <li><a href="전혜린.html">전혜린</a></li>
                <li><a href="MBTI.html">MBTI</a></li>
                <li><a href="기타.html">기타</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrap">
    <section class="backimg">
        <br/>
        <h1>말줄임 예시<br/><hr></h1>
        <table>
            <tr>
                <td>
                    <div class="box1">
                        <div style="text-align: center"><1줄 말줄임></div>
                        <br/>
                        안녕하세요 저는 지금부터 말줄임표 쓰기를 하려고 합니다.
                        말줄임표 종류는 1줄 말줄임표와 멀티 말줄임표가 있는데요.
                        그 중 저는 1줄 말줄임을 해보려고 합니다.
                    </div>
                </td>
                <td>　　　　　　　</td>
                <td>
                    <div class="box2">
                        <div style="text-align: center"><멀티 말줄임></div>
                        <br/>
                        안녕하세요 저는 지금부터 말줄임표 쓰기를 하려고 합니다.
                        말줄임표 종류는 1줄 말줄임표와 멀티 말줄임표가 있는데요.
                        그 중 저는 1줄 말줄임이 아닌 멀티 말줄임을 사용해보려고 합니다.
                    </div>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <div class="box1_1">
                        <div style="text-align: center"><1줄 말줄임 스타일 적용법></div>
                        <br/>
                        .클래스명 {<br/>
                            　overflow: hidden;<br/>
                            　text-overflow: ellipsis;<br/>
                            　white-space: nowrap;<br/>
                        }<br/>
                    </div>
                </td>
                <td>　　　　　　　</td>
                <td>
                    <div class="box2_2">
                        <div style="text-align: center"><멀티 말줄임 스타일 적용법></div>
                        <br/>
                        .클래스명 {<br/>
                            　overflow: hidden;<br/>
                            　text-overflow: ellipsis;<br/>
                            　white-space: normal;<br/>
                            　display: -webkit-box;<br/>
                            　-webkit-line-clamp: 제한할 라인수;<br/>
                            　-webkit-box-orient: vertical;<br/>
                        }<br/>
                    </div>
                </td>
            </tr>
            <tr>
                <td><br/></td>
            </tr>
        </table>
        <h5><hr>
            ...의 뒷말이 궁금하다면 문의 ↓↓<br/>
            <br/>
            <div><a href="https://www.instagram.com/direct/" target="_blank" class="insta">
                <img class="logo" src="../Content/images/Instalogo.jpg"> h_fls</a></div>
        </h5>
        
        <br/>
    </section>
    <footer>
        <nav>
            <a href="https://blog.naver.com/wjs3673">Blog</a>
            <a href="https://github.com/wjs3673/Portfolio">Github</a>
        </nav>
        <p>
            <span>저자 : 전혜린</span><br/>
            <span>이메일 : hrjeon@Mostisoft.com</span><br/>
            <span>Copyright 2022. hrjeon. All Rights Reserved.</span><br/>
        </p>
    </footer>
    </div>  
</body>
</html>